* body{
    background: #1a0111;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
} 


h1 {
    text-align: center;
    font-family: cursive;
    font-size: 75px;
    margin: 20px;
    padding: 10px;
}


p {
    text-align: center;
    padding:0;
    margin-top: 0px;
    font-size: 30px;

}

h2  { 
    text-align: center;
    margin: 10px;
    padding:10px;
    
}

h3  {
    text-align: center;
    margin: 10px;
    padding:10px;
    color: #eb2ea2;

}

button {
   display: block;
    margin: 30px auto;
    background-color: #eb2ea2;
    color: white;
    font-size: 20px  !important;
    

}

button:hover {
    transform: scale(1.1);
    border: 3px #eb2ea2 solid;
    background: white;
    
    color: #eb2ea2;
}


 #start  {
    vertical-align: middle;
    background-color: #eb2ea2;
    color: #fff;
    border: 3px rgb(245, 244, 244) solid;
    height: 75px;
    width: 150px;
    font-size: 40px !important;
    

 }
    #question-area {
        padding-left:10px;
        padding-right: 10px;
          
    }

    .message-content {
        padding-left:10px;
        padding-right: 10px;
        margin-top: 50px;

    }
 
footer {
    
    padding: 50px 10px 10px 10px;
    margin: 10px;
     text-align: center; 
    
    
}
